<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
      Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ==========================
      Title 
    =========================== -->
   <title>Rank Blog</title>
    
    <!-- ==========================
      Favicons 
    =========================== -->
  <link rel="shortcut icon" src="/assets/icons/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
      Fonts 
    =========================== -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
    
    <!-- ==========================
      CSS 
    =========================== -->
    
    <!-- ==========================
      JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <style type="text/css">
body {background-image: linear-gradient(rgba(47, 195, 223, 0.6), rgba(47, 195, 223, 0.6)), url(../image/bg3.jpg);padding-top: 2%;}

  </style>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="color-light-blue">
                <% @blogs.each do |blog| %>
                <div class="col-sm-6">
                	<div class="recent-blog-post">
                        <div class="post-date"><%= blog.post_date.strftime("%d-%m-%Y") %></div>
                        <h3 ><%= blog.name %></h3>
                        <p><%= truncate(blog.details,:length => 400 ,escape: false).html_safe %></p>
                        <a href="<%= blog_path(blog) %>">Read More<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <% end %>
                </body>
                </html>