


<!DOCTYPE html>
<html>
<head>
    <!-- ==========================
      Meta Tags 
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ==========================
      Title 
    =========================== -->
    <title>blogs</title>
    
    <!-- ==========================
      Favicons 
    =========================== -->
    <link rel="shortcut icon" href="icons/favicon.ico">
  <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
    
    <!-- ==========================
      Fonts 
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
    <!-- ==========================
      CSS 
    =========================== -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/animate.css" rel="stylesheet" type="text/css">
    <link href="css/yamm.css" rel="stylesheet" type="text/css">
    <link href="css/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="css/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="css/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="css/color-switcher.css" rel="stylesheet" type="text/css">
    <link href="css/color.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">
</head>
<body class="color-green">        
    <!-- ==========================
      FORMS - START 
    =========================== -->
  <section class="content-full bg-color-2">
      
        <header class="navbar navbar-default navbar-static-top">
            <div class="pull-left">
                <a href="<%= blogs_path %>" class="btn btn-primary btn-lg"><i class="fa fa-chevron-left"></i>Back to Homepage</a>
            </div>
            <div class="pull-right">
                <ul class="brands brands-inline brands-md brands-circle main">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </header>
        <div class="container">
          <div class="forms-only">
            <h1>Blogs</h1>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
               
                    <fieldset>
                      <h2>Sign Up</h2>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="email">Your email:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="password">Your password:<span>*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                  <%#= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
                                   <%= f.password_field :password, autocomplete: "off" ,:class => "form-control", :placeholder => "New Password" %>
                                   <% if @validatable %>
                                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                                      <% end %><br />
                                   <%= f.password_field :password_confirmation, autocomplete: "off" ,:class => "form-control", :placeholder => "Confirm Password" %>
                                </div>
                            </div>
                        </div>
                                              
                        <div class="pull-left">
                            <button type="submit" id="send" class="btn btn-primary"><i class="fa fa-check"></i></button>
                        </div>                        
                    </fieldset>
                   
                </form>
                <% end %>
                 <%= render "devise/shared/links" %>
            </div>
        </div>
    </section>  
    
      
    <!-- ==========================
      FORMS - END 
    =========================== -->
   
    <!-- ==========================
      JS 
    =========================== -->
</body>
</html>
