

<%#= link_to "Unsubscribe", unsubscribe_news_letter_path(@newsletter.id , :host => "localhost:3000") %> from this newsletter  

Unsubscribe <%= link_to "here", :controller => "news_letters", :action => "unsubscribe",
:only_path => false, :id => @newsletter.id, :host => "localhost:3000" %>